.Container {
  display: flex;
  height: 80%;
  align-items: center;
  flex-direction: column;
  margin-top: 4.5rem;

  .tittle {
    margin-top: 1.5rem;
    color: #1976d2;
  }

  .WeatherForecastContainer {
    width: 1300px;
    padding: 0rem 2rem;
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    gap: 1rem;
  }
}
